{% extends 'base.html' %}

{% block title %}Todo Application{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <ul>
        {% for todo in todo_list %}
            <li>{{ todo.title }}</li>
            <form action="{% url 'todo:delete' todo_id=todo.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="remove">
            </form>
        {% empty %}
            <li>No todo exist </li>
        {% endfor r%}
</ul>
<form action="{% url 'todo:add' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="title">
    <input type="submit" value="save">
</form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
